.nav {
    background: rgba(20, 20, 20, 0.50);
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    position: fixed;
    width: 100%;
    z-index: 99;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    @include media(700) {
        padding: 20px 0;
    }

    @include media(500) {
        padding: 15px 0;
    }

    &__logo {
        @include media(500) {
            img {
                width: 70px;
            }
        }
    }

    &__burger,
    &__close {
        display: none;

        img {
            width: 25px;
        }

        @include media(700) {
            display: block;
        }
    }

    &__close {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__list {
        display: flex;
        align-items: center;
        column-gap: 30px;

        @include media(700) {
            position: fixed;
            flex-direction: column;
            align-items: center;
            background-color: #000;
            top: 0;
            right: -300px;
            height: 100vh;
            padding: 60px;
            transition: 0.5s;

            &.active {
                right: 0;
            }
        }
    }

    &__link {
        color: rgba(255, 255, 255, 0.60);
        font-size: 18px;
        font-weight: 700;
        padding: 34px 0;
        display: block;

        &.router-link-active {
            color: #fff;
            position: relative;

            &::after {
                content: '';
                width: 15px;
                height: 15px;
                border-radius: 15px;
                background: #149A03;
                position: absolute;
                bottom: 15px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

